.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-style: normal;
    background: #F1F1F3;


}



/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: bold;
    font-size: 32px;
}

nav ul li {
    list-style: none;
}

.btn-1 {
    border-radius: 8px;
    color: #900000;
    font-size: 18px;
    font-weight: 600px;
    padding: 30px;
    list-style: none;
}

nav a:hover {
    background: #584545;
    color: #900000;
}

/* banner style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C6E4D6;
    margin: 20px 140px 20px 140px;
    border-radius: 24px;

}

.banner-content {
    width: 550px;
    padding: 20px 100px;



}

.banner-pera {
    font-size: 24px;
    font-weight: 300px;
    color: rgba(14, 14, 14, 0.5);
    padding-top: 117px;
    padding-bottom: 16px;
}

.banner-title {
    font-size: 56px;
    font-weight: bold;
    padding: 160px 0px 190px 100px;
}

.btn-2 {
    font-size: 18px;
    font-weight: 600px;
    padding: 17px 34px;
    margin: 24px;
    background: #006A50;
    color: #FFFFFF;
    border-radius: 8px;

}

.btn-2:hover {
    background-color: #50ff25;
}

.banner-profile-pic {
    width: 470px;

    padding: 90px 100px 90px 0px;

}

/* main style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* Technology style */

.Vision {}

.vision-title {
    font-size: 40px;
    font-weight: bold;
    margin: 24px;
}

.vision-description {
    font-size: 16px;
    font-weight: 400px;
}

.technology-content {
    display: flex;
    gap: 24px;
    /* align-items: center;
    justify-content: space-between; */
}

.technology {
    border-radius: 8px;
    background: #c0b2b2;
    width: 969px;
    padding: 32px;
    padding-bottom: 32px;
    text-align: start;

}


.technology-title {
    font-size: 20px;
    font-weight: bold;
}

.technology-description {
    font-weight: 400;
    font-size: 16px;
}

/* BUTTON STYLE */
.btn3 {
    padding: 11px 20px;
    background: #5490F5;
    color: #FFFFFF;
    border-radius: 8px;
}

.btn3:hover {

    background-color: #703838;
}

.btn4 {
    padding: 11px 20px;
    background: #91f031;
    color: #4313a3;
    border-radius: 8px;
}

.btn4:hover {
    background-color: #998bfe;
}

.btn5 {
    padding: 11px 20px;
    background: #33afe9;
    color: #f6ecec;
    border-radius: 8px;
}

.btn5:hover {
    background-color: #920538;
}

/* Background color style */
.bgc-1 {
    background-color: #ffe819;
}

.bgc-2 {
    background-color: #8848ff;
}

.bgc-3 {
    background-color: #ed2374;
}

/* Recent News of Aljazeera */
.news-s {}

.news-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 24px;
    /* gap: px; */
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.news {
    width: 1120px;
}

.news-profile {
    border: 10px;
    width: 400;
    height: auto;
    border-radius: 24px;
    border: 6px;


}

.news-title {
    font-weight: bold;
    font-size: 40px;

}

.news-description {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
    padding-top: 12px;
}

.date-time-container {
    display: flex;
    justify-content: start;
    gap: 12px;
}

.btn-6 {
    border-radius: 8px;
    padding: 13px 26px;
    background-color: #3bd476;
    color: #f6ecec;
}

.btn-6:hover {
    background: #d08c8c;
}

/* second aljeezara news style */
.news-s {}

.news-containers {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 24px;
    gap: 50px;
    padding-left: 20px;
    padding-bottom: 20px;

}

.newss {
    width: 1140px;

}

.news-profiles {
    border: 10px;
    width: 400;
    height: auto;
    border-radius: 24px;
    border: 6px;

}

.news-title {
    font-weight: bold;
    font-size: 40px;

}

.news-description {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
    padding-top: 12px;
}

.date-time-container {
    display: flex;
    justify-content: start;
    gap: 12px;
}

.btn-6second {
    border-radius: 8px;
    padding: 13px 26px;
    background-color: #56b2d4;
    color: #f6ecec;
}

.btn-6second:hover {
    background: #a1ca2f;
}

/* donate style */



.donate-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.donate-description {
    font-size: 16px;
    font-weight: 400;
}

.TAKA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f0f0f0ff; */
}

.donation-option {
    /* border: 2px solid rgb(72, 50, 50); */
    border-radius: 16px;
    margin: 0px 50px;
    padding: 30px 50px;
    gap: 24px;
    font-weight: bold;
    font-weight: 50px;
    box-shadow: #9bc1b7;
    background-color: #fff;
}

.donation-option:hover {
    background: #d47e7e;

}

.other-amount {

    align-items: center;
    margin: 20px 40px;
    background-color: #fff;
    justify-content: center;
    border-radius: 8px;
}


input[type="text"] {
    padding: 15px 382px;
    background-color: #FFFFFF;
    border: none;

}

.btn100 {

    padding: 17px 25px;
    color: rgb(251, 232, 232);
    background-color: #006A50;
    border-radius: 8px;
    margin-top: auto;

}



.btn100:hover {
    background-color: #88ff20;
}


/* Subscribe-Newsletter style */
.subscribe {
    background-color: #C6E4D6;

}

.subscfibe-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-right: 80px;
    margin-top: 20px;
}

.subscribe-description {
    font-size: 16;
    font-weight: 400;
}

.subscribe-ok {
    width: 750;
    padding: 80px 265px;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;

}

.email-container {

    width: 600;
    padding: 0px 0px;
}

.sub {
    background-color: #006A50;
    color: #FFFFFF;
    padding: 10px 34px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.sub:hover {
    background-color: #ff4a4a;
}

.pp {
    text-align: center;
    color: #0E0E0E;
}

input[type="email"] {
    padding: 10px 100px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* .foot {
    background-color: #FFFFFF;
    margin: 30px 30px;
    padding: 48px 24px; */

.DR-yunus {
    background-color: #FFFFFF;
    margin: 50px 160px;
    padding: 48px 24px;
}

.yunus-description {
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    height: 100;

}



.yunus-title {
    font-size: 20px;
    font-weight: 600;

}

.yunus-p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);

}